resources/storefront/front/build
resources/storefront/theme-app-extension/assets/
/node_modules
/public/hot
/public/storage
/public/upload/**
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.log
/.idea
/.vscode
composer.lock
**/yarn.lock**
.DS_Store
package-lock.json

**/static**
/index.html
/logo_app.png
